<style>
    .texto {
        position: absolute;
        color: rgb(26, 60, 255);
        font-size: 22px;
        background-color: rgb(61, 29, 245);
    }
</style>


<div class="container-fluid py-4">
    
    <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
            <div class="card z-index-2 h-100">
                <div class="card-header pb-0 pt-3 bg-transparent">

                    <h4>Generador de correos temporales</h4>

                    Estamos emocionados de presentarte una herramienta que simplificara su experiencia en linea y protegera su privacidad.
                    Nuestro generador de correos temporales creara direcciones de correos temporales y anónimos al instante.
                    <br>
                    <br>
                    Ya sea que estes probando un servicio en linea, participando en sorteos o simplemente deseando mantener tu bandeja de entrada principal
                    libre de spam, nuestro generador es la solucion perfecta. Olvidate de proporcionar tu correo electronico personal y evita riesgos de recibir
                    correos no deseados.
                    <br>
                    <br>
                    <h5>Lo novedoso del software</h5>
                    Explora la comodidad y segurudad de usar correos temporales con nuestro generador. Estamos aqui para simplificar tu vida en linea.
                    comienza a proteger tu privacidad hoy mismo.
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
           
                        
                            <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                                <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                                    <i class="ni ni-bulb-61 text-dark opacity-10"></i>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


</div>